.comment-scrolling-banner-p {
  margin: 5px 0px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 45px;
}

@media (max-width: 768px) { /* Replace 768px with your 'responsiveWidthTablet' value */
  .comment-scrolling-banner-p {
    -webkit-line-clamp: 3;
    height: 61px;
  }
}
